/* :root {
  --input-outline-color: #1e90ff;
  --color-button: #20b2aa;
  --parMessage:#6A5ACD;
}

.todoForm input {
  border-radius: 4px;
  border: 1px solid grey;
  padding: 4px;
  font-size: 1rem;
  text-align: left;
}

input::placeholder{
  text-align: center;
}

input:focus {
  outline: 1px solid var(--input-outline-color);
}

.todoForm {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

 .todoForm button {
  border-radius: 4px;
  padding: 4px;
  border: 1px solid (var(--color-button));
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: var(--color-button);
  cursor: pointer;
} 

.addTodoMessage{
  font-size: 1.2rem;
  padding:12px;
  color:var(--parMessage);
  font-style:italic;


}

.errorMessage{
  color:red;
  padding:8px;
  font-size: 1rem;
}

.errorMessage::before{
  content:"* "
}

.errorOutlineColor{
  outline: 1px solid red;
}


.OutlineColor{
outline: 1px solid lightgrey;
} */
